<maven2-moduleset>
	<actions />
	<description />
	<keepDependencies>false</keepDependencies>
	<properties>
		<hudson.plugins.hgca.HGCAProjectProperty>
			<annoPats>
				<entry>
					<string>(\d+)</string>
					<string>${project.issueURL}</string>
				</entry>
			</annoPats>
		</hudson.plugins.hgca.HGCAProjectProperty>
	</properties>
	<scm class="hudson.scm.SubversionSCM">
		<locations>
			<hudson.scm.SubversionSCM_-ModuleLocation>
				<remote>${project.scmURL}</remote>
			</hudson.scm.SubversionSCM_-ModuleLocation>
		</locations>
		<useUpdate>true</useUpdate>
		<excludedRegions />
		<excludedUsers />
		<excludedRevprop />
	</scm>
	<canRoam>true</canRoam>

	<disabled>false</disabled>
	<triggers class="vector">
		<hudson.triggers.SCMTrigger>
			<spec>* * * * *</spec>
		</hudson.triggers.SCMTrigger>
	</triggers>
	<concurrentBuild>false</concurrentBuild>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<rootModule>
		<groupId>org.jabox</groupId>
		<artifactId>testA</artifactId>

	</rootModule>
	<goals>${goals}</goals>
	<aggregatorStyleBuild>true</aggregatorStyleBuild>
	<incrementalBuild>false</incrementalBuild>
	<usePrivateRepository>false</usePrivateRepository>
	<ignoreUpstremChanges>false</ignoreUpstremChanges>

	<reporters>
		<hudson.plugins.checkstyle.CheckStyleReporter>
			<threshold />
			<failureThreshold />
			<newFailureThreshold />
			<newThreshold />
			<healthy />
			<unHealthy />
			<pluginName>[CHECKSTYLE] </pluginName>
			<thresholdLimit>low</thresholdLimit>
		</hudson.plugins.checkstyle.CheckStyleReporter>
		<hudson.plugins.dry.DryReporter>
			<threshold />
			<failureThreshold />
			<newFailureThreshold />
			<newThreshold />
			<healthy />
			<unHealthy />
			<pluginName>[DRY] </pluginName>
			<thresholdLimit>low</thresholdLimit>
		</hudson.plugins.dry.DryReporter>
	</reporters>
	<publishers>
		<hudson.plugins.cigame.GamePublisher />
		<hudson.plugins.claim.ClaimPublisher />
	</publishers>
	<buildWrappers />
</maven2-moduleset>
